.container {
    min-width: 100px;
    height: 100vh;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    outline: none;
    border: none;
    margin: none;
    background-color: "#ffffff";
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    padding: 0 20px;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    background-color: "#ffffff";
    font-size: 1rem;
}

.menuItem:hover {
    cursor: pointer;
}

.menuItem:active {
    outline: none;
    border: none;
    background-color: #ffffff;
}

.menuItemOutlined {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 175px !important;
    height: 60px !important;
    /* height: 40px; */
    border-radius: 1px;
    /* background-color: #ffffff; */
    background-color: pink;
    border: 1px solid #000000;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    outline: none;
    cursor: pointer;
}

.brandName {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 50px !important;
}
